
$medDisp: 991px;

.flag {
    margin-top: 15px;
    width: 50px;

    @media (max-width: $medDisp){
         margin-top: -96px;
    }
}


.navbar {
    padding-bottom: 0.8rem !important;
}

@media (max-width: $medDisp) {

    .navbar-collapse {
        background-color: #f8f9fa63;
        border-radius: 10px;
    }
}


.navigation {
    height: 30px;



    img:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

.darkModeToggle {
    margin-left: 2px;
}