
.hero {

    h1{
        position: relative;
        color: white;
        text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
    }
}

.video-wrapper {
    position: relative;

    width: auto;
    height: 400px;
    overflow: hidden;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

video {
    object-fit:cover;
    height: 100%;
    width: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
}